@namespace OpeniT.SMTP.Web.Pages.Shared
@inherits BaseMenu

<div class="@ClassMapper.AsString()" tabindex="-1" @ref="Ref" style="@StyleMapper.AsString()" @attributes="Attributes" Id="@Id">
	@ChildContent
</div>