@namespace OpeniT.SMTP.Web.Pages.Shared

<div class="grapesjs-editor-container">
	<div @ref="editorElement"></div>
	@if (!grapesjsIsInitialized || isBusy)
	{
		<div class="overlay" style="z-index: 2;">
			<MatProgressBar Indeterminate="true" Style="position: absolute; top: 0;"></MatProgressBar>
		</div>
	}
</div>