@namespace OpeniT.SMTP.Web.Pages.Shared.Admin
@page "/admin/not-authorized"

<div class="content-header p-0">
	<div class="container mw-100 w-100 p-3">
		<div class="d-flex flex-column align-items-center justify-content-center bg-mdc-gray p-3">
			<p class="text-bold text-lg">You're not authorized to reach this page.</p>
			<span>You may need to log in as a different user.</span>
		</div>
	</div>
</div>