@namespace OpeniT.SMTP.Web.Pages.Admin

<MatDialog IsOpen="@(IsOpen && isRendered)" IsOpenChanged="this.IsOpenIsChanged" CanBeClosed="!isBusy" SurfaceStyle="max-width: 20rem;">
	<MatDialogTitle Class="flex-column">
		<MatIcon Icon="delete" Class="@(isBusy ? "text-disabled" : "text-mdc-primary")" Style="font-size: 5rem;"></MatIcon>
		<span class="@(isBusy ? "text-disabled" : string.Empty)">@mail?.Subject</span>
	</MatDialogTitle>
	<MatDialogContent>
		<p class="text-center">Are you sure you want to delete mail?</p>
	</MatDialogContent>
	@if (isBusy)
	{
		<MatProgressBar Indeterminate="true" Class="animate-on-bottom"></MatProgressBar>
	}
	<MatDialogActions>
		<MatButton Unelevated="true" Class="mdc-button-primary font-weight-normal mr-1" Disabled="isBusy" OnClick="this.Close">Cancel</MatButton>
		<MatButton Unelevated="true" Disabled="isBusy" OnClick="this.Save">Delete</MatButton>
	</MatDialogActions>
</MatDialog>